@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular.otf') format('opentype'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold.otf') format('opentype'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-ExtraBold.otf') format('opentype'), url('../fonts/Circe-ExtraBold.woff') format('woff'), url('../fonts/Circe-ExtraBold.ttf') format('truetype'), url('../fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
  font-weight: 900;
  font-style: normal;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-size: 42px;
  font-weight: lighter;
  margin: 0 0 18px 0;
}
h3 {
  font-size: 39px;
}
a {
  text-decoration: underline;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Circe';
}
header {
  clear: both;
  display: block;
  overflow: hidden;
  background: url('../img/header_bg.jpg') center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.wrapper {
  display: block;
  overflow: hidden;
  margin: auto;
  width: 1100px;
}
.topmenu {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  height: 60px;
}
.topmenu__item {
  display: inline-block;
  overflow: hidden;
  margin: 0 30px;
}
.topmenu__item a {
  display: block;
  line-height: 60px;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.info {
  clear: both;
  float: right;
  overflow: hidden;
  color: #fff;
  text-align: right;
  letter-spacing: 1px;
  padding: 20px;
  margin: 20px 0;
}
.info__days {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  padding: 0 0 0 20px;
}
.info__days:before {
  content: '';
  display: inline-block;
  margin: 0 5px 0 0;
  width: 13px;
  height: 13px;
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%0D%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23fff%22%0D%0A%20d%3D%22M7.000%2C13.999%20C3.150%2C13.999%20-0.000%2C10.849%20-0.000%2C6.999%20C-0.000%2C3.149%203.150%2C-0.000%207.000%2C-0.000%20C10.850%2C-0.000%2014.000%2C3.149%2014.000%2C6.999%20C14.000%2C10.849%2010.850%2C13.999%207.000%2C13.999%20ZM7.000%2C1.399%20C3.920%2C1.399%201.400%2C3.920%201.400%2C6.999%20C1.400%2C10.080%203.920%2C12.599%207.000%2C12.599%20C10.080%2C12.599%2012.600%2C10.080%2012.600%2C6.999%20C12.600%2C3.920%2010.080%2C1.399%207.000%2C1.399%20ZM6.300%2C7.700%20L6.300%2C3.499%20L7.350%2C3.499%20L7.350%2C7.140%20L10.500%2C9.030%20L9.940%2C9.940%20L6.300%2C7.700%20Z%22/%3E%0D%0A%3C/svg%3E') center center no-repeat;
  background-size: cover;
}
.info__phone {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 36px;
}
.wrapper-main .info {
  margin: 60px 0;
}
.title {
  clear: both;
  display: block;
  width: 850px;
  margin: 0 auto 140px auto;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 900;
}
.title-big {
  font-weight: 900;
  display: block;
  font-size: 60px;
  text-transform: uppercase;
}
.title-small {
  font-weight: bold;
  display: block;
  font-size: 36px;
}
.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.form-block__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px;
}
.form-block__form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 270px;
  padding: 20px 20px 15px 20px;
  border: 3px solid #ececec;
}
.form-block p {
  margin: 0 0 10px 0;
}
.form-block__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0 !important;
}
.form-block__title span {
  display: inline-block;
  border-bottom: 4px solid #ffca00;
}
.form-send {
  clear: both;
  display: block;
  overflow: hidden;
  overflow: visible;
}
.form-send__input {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 40px;
  border: none;
  padding: 0 36px 0 10px;
  background: #f8f8f8;
  font-family: 'Circe';
  color: #333;
  font-size: 14px;
  position: relative;
  letter-spacing: 1px;
  margin: 0 0 10px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.form-send__input-user {
  background: #f8f8f8 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216px%22%20height%3D%2214px%22%3E%0D%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23757575%22%0D%0A%20d%3D%22M15.405%2C11.713%20C15.403%2C11.042%2014.925%2C11.026%2014.353%2C10.801%20L11.687%2C9.750%20C11.640%2C9.733%2011.595%2C9.713%2011.549%2C9.694%20L11.549%2C9.693%20C11.075%2C9.482%2010.657%2C9.188%2010.503%2C8.981%20L10.497%2C8.974%20L10.496%2C8.971%20C10.487%2C8.958%2010.477%2C8.944%2010.469%2C8.931%20L10.463%2C8.920%20L10.462%2C8.918%20L10.456%2C8.911%20L10.456%2C8.910%20C10.386%2C8.806%2010.314%2C8.758%2010.253%2C8.779%20L10.249%2C8.780%20L10.248%2C8.781%20L10.247%2C8.781%20L10.244%2C8.783%20L10.241%2C8.783%20L10.238%2C8.786%20C10.166%2C8.823%2010.180%2C8.783%2010.151%2C8.704%20C10.079%2C8.512%209.960%2C8.147%209.942%2C8.094%20C9.914%2C7.993%209.840%2C8.252%209.857%2C7.973%20L9.887%2C7.470%20C9.936%2C7.417%209.976%2C7.375%2010.003%2C7.346%20C10.176%2C7.151%2010.188%2C6.634%2010.275%2C6.508%20C10.363%2C6.382%2010.537%2C6.355%2010.711%2C5.769%20C10.885%2C5.182%2011.098%2C4.344%2010.874%2C4.330%20C10.819%2C4.327%2010.756%2C4.362%2010.692%2C4.418%20C10.731%2C4.202%2010.814%2C3.714%2010.833%2C3.353%20C10.858%2C2.878%2010.778%2C1.660%2010.503%2C1.214%20C10.332%2C0.935%209.986%2C0.658%209.641%2C0.443%20C9.434%2C0.313%209.227%2C0.206%209.059%2C0.133%20C8.556%2C-0.086%206.972%2C0.014%206.435%2C0.133%20C5.824%2C0.268%205.395%2C0.645%205.122%2C1.092%20C4.848%2C1.539%204.727%2C2.878%204.751%2C3.353%20C4.762%2C3.566%204.892%2C3.926%204.925%2C4.145%20C4.943%2C4.260%204.960%2C4.261%204.975%2C4.343%20C4.952%2C4.334%204.930%2C4.329%204.910%2C4.331%20C4.685%2C4.344%204.897%2C5.182%205.071%2C5.769%20C5.246%2C6.355%205.419%2C6.382%205.507%2C6.508%20C5.594%2C6.634%205.606%2C7.151%205.781%2C7.346%20C5.808%2C7.377%205.850%2C7.422%205.903%2C7.477%20L5.936%2C7.888%20L5.994%2C8.116%20C5.968%2C8.050%205.915%2C8.008%205.890%2C8.094%20C5.815%2C8.318%205.740%2C8.543%205.665%2C8.767%20C5.657%2C8.756%205.645%2C8.749%205.631%2C8.748%20C5.558%2C8.685%205.460%2C8.739%205.371%2C8.885%20C5.240%2C9.101%204.803%2C9.412%204.298%2C9.637%20L4.291%2C9.663%20L4.284%2C9.690%20L4.281%2C9.701%20C4.241%2C9.718%204.201%2C9.735%204.160%2C9.751%20L1.493%2C10.802%20C0.923%2C11.027%200.444%2C11.043%200.441%2C11.713%20L-0.000%2C13.999%20L16.000%2C13.999%20L15.405%2C11.713%20Z%22/%3E%0D%0A%3C/svg%3E') right 12px center no-repeat;
}
.form-send__input-phone {
  margin: 0 0 15px 0;
  background: #f8f8f8 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216px%22%20height%3D%2214px%22%3E%0D%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23757575%22%0D%0A%20d%3D%22M15.915%2C5.059%20C15.896%2C5.161%2015.895%2C5.265%2015.856%2C5.361%20C15.625%2C5.922%2015.194%2C6.386%2014.876%2C6.903%20C14.467%2C7.563%2010.986%2C6.141%2011.434%2C5.260%20C11.603%2C4.934%2012.262%2C4.034%2012.312%2C3.673%20C12.357%2C3.350%2011.933%2C3.098%2011.542%2C3.064%20C10.508%2C2.981%209.188%2C3.057%208.092%2C3.064%20L8.092%2C3.064%20C8.062%2C3.064%208.030%2C3.064%208.000%2C3.064%20C7.970%2C3.064%207.938%2C3.064%207.909%2C3.064%20L7.909%2C3.064%20C6.812%2C3.057%205.492%2C2.981%204.459%2C3.064%20C4.067%2C3.097%203.643%2C3.350%203.689%2C3.673%20C3.738%2C4.034%204.397%2C4.934%204.566%2C5.260%20C5.016%2C6.141%201.534%2C7.563%201.124%2C6.903%20C0.805%2C6.386%200.375%2C5.922%200.145%2C5.361%20C0.106%2C5.265%200.104%2C5.160%200.085%2C5.059%20C-0.426%2C2.759%201.543%2C0.411%204.506%2C0.171%20C5.638%2C0.078%206.773%2C0.026%207.909%2C0.006%20L7.909%2C-0.001%20C7.940%2C0.000%207.970%2C0.002%208.000%2C0.003%20C8.031%2C0.002%208.061%2C0.000%208.092%2C-0.001%20L8.092%2C0.006%20C9.227%2C0.026%2010.362%2C0.078%2011.494%2C0.171%20C14.458%2C0.411%2016.426%2C2.759%2015.915%2C5.059%20ZM13.880%2C12.997%20C13.912%2C13.549%2013.554%2C13.999%2013.083%2C13.999%20L2.917%2C13.999%20C2.446%2C13.999%202.088%2C13.548%202.120%2C12.997%20L2.417%2C7.965%20C3.494%2C7.710%204.871%2C7.046%205.370%2C6.221%20C5.649%2C5.761%205.678%2C5.244%205.450%2C4.795%20C5.392%2C4.683%205.283%2C4.508%205.159%2C4.313%20L5.158%2C4.312%20C5.155%2C4.303%205.155%2C4.303%205.152%2C4.297%20L10.685%2C4.297%20C10.683%2C4.305%2010.682%2C4.306%2010.677%2C4.318%20C10.608%2C4.486%2010.584%2C4.615%2010.597%2C4.713%20C10.581%2C4.741%2010.559%2C4.777%2010.547%2C4.801%20C10.321%2C5.243%2010.351%2C5.761%2010.629%2C6.220%20C11.128%2C7.046%2012.504%2C7.710%2013.581%2C7.964%20L13.880%2C12.997%20ZM9.944%2C7.774%20C8.879%2C6.700%207.147%2C6.700%206.081%2C7.774%20C5.016%2C8.848%205.016%2C10.594%206.081%2C11.668%20C7.045%2C12.640%208.555%2C12.729%209.623%2C11.942%20L8.955%2C11.269%20C8.260%2C11.699%207.337%2C11.615%206.736%2C11.008%20C6.032%2C10.298%206.032%2C9.144%206.736%2C8.434%20C7.440%2C7.724%208.585%2C7.724%209.289%2C8.434%20C9.889%2C9.038%209.973%2C9.961%209.553%2C10.661%20L10.222%2C11.335%20C10.997%2C10.259%2010.906%2C8.743%209.944%2C7.774%20Z%22/%3E%0D%0A%3C/svg%3E') right 12px center no-repeat;
}
.form-send__button {
  display: block;
  width: 100%;
  border: none;
  overflow: hidden;
  background: #ffca00;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #333;
  font-family: 'Circe';
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 3px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-send__button:hover {
  background: #e7b908;
}
.form-send__button:active {
  line-height: 50px;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
}
.form-send__text {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 11px;
  line-height: 11px;
  color: #9a9a9a;
  padding: 9px 0 0 35px;
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214px%22%20height%3D%2218px%22%3E%0D%0A%3Cpath%20fill%3D%22%239a9a9a%22%0D%0A%20d%3D%22M12.250%2C7.043%20L12.250%2C4.695%20C12.250%2C2.102%209.899%2C-0.001%207.000%2C-0.001%20C4.100%2C-0.001%201.750%2C2.102%201.750%2C4.695%20L1.750%2C7.043%20C0.783%2C7.043%20-0.000%2C7.744%20-0.000%2C8.608%20L-0.000%2C16.434%20C-0.000%2C17.299%200.783%2C17.999%201.750%2C17.999%20L12.250%2C17.999%20C13.216%2C17.999%2014.000%2C17.299%2014.000%2C16.434%20L14.000%2C8.608%20C14.000%2C7.744%2013.216%2C7.043%2012.250%2C7.043%20ZM3.500%2C4.695%20C3.500%2C2.966%205.067%2C1.565%207.000%2C1.565%20C8.933%2C1.565%2010.500%2C2.966%2010.500%2C4.695%20L10.500%2C7.043%20L3.500%2C7.043%20L3.500%2C4.695%20ZM12.250%2C16.434%20L1.750%2C16.434%20L1.750%2C8.608%20L12.250%2C8.608%20L12.250%2C16.434%20ZM6.125%2C13.087%20L6.125%2C14.087%20C6.125%2C14.518%206.517%2C14.869%207.000%2C14.869%20C7.483%2C14.869%207.875%2C14.518%207.875%2C14.087%20L7.875%2C13.087%20C8.395%2C12.815%208.750%2C12.317%208.750%2C11.739%20C8.750%2C10.874%207.966%2C10.173%207.000%2C10.173%20C6.034%2C10.173%205.250%2C10.874%205.250%2C11.739%20C5.250%2C12.317%205.604%2C12.815%206.125%2C13.087%20Z%22/%3E%0D%0A%3C/svg%3E') left 12px top 10px no-repeat;
}
.services {
  text-align: center;
  padding: 100px 0 40px 0;
}
.services__item {
  display: inline-block;
  width: 320px;
  overflow: hidden;
  padding: 0 0 0 70px;
  position: relative;
  text-align: left;
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 16px;
  margin: 0 15px 60px 15px;
}
.services__item-1 {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20width%3D%2248px%22%20height%3D%2248px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23ffca00%22%0A%20d%3D%22M16.726%2C47.346%20C16.510%2C47.760%2016.077%2C48.000%2015.627%2C48.000%20C15.441%2C48.000%2015.253%2C47.959%2015.076%2C47.872%20C11.287%2C46.028%208.151%2C42.995%206.244%2C39.333%20C5.939%2C38.747%206.183%2C38.032%206.789%2C37.737%20C7.396%2C37.442%208.134%2C37.678%208.439%2C38.264%20C10.111%2C41.474%2012.860%2C44.133%2016.181%2C45.749%20C16.787%2C46.045%2017.031%2C46.759%2016.726%2C47.346%20ZM47.532%2C0.253%20C47.237%2C0.028%2046.851%2C-0.054%2046.485%2C0.031%20L24.000%2C5.226%20L1.514%2C0.031%20C1.148%2C-0.054%200.763%2C0.028%200.467%2C0.253%20C0.172%2C0.479%20-0.000%2C0.823%20-0.000%2C1.186%20L-0.000%2C28.708%20C-0.000%2C29.258%200.390%2C29.736%200.943%2C29.864%20L5.386%2C30.890%20C6.045%2C31.043%206.709%2C30.648%206.866%2C30.010%20C7.024%2C29.372%206.617%2C28.731%205.956%2C28.579%20L2.458%2C27.770%20L2.458%2C2.692%20L22.771%2C7.386%20L22.771%2C13.463%20C22.771%2C14.120%2023.321%2C14.652%2024.000%2C14.652%20C24.679%2C14.652%2025.229%2C14.120%2025.229%2C13.463%20L25.229%2C7.386%20L45.542%2C2.692%20L45.542%2C27.771%20L41.534%2C28.697%20C40.874%2C28.849%2040.467%2C29.490%2040.625%2C30.128%20C40.760%2C30.674%2041.263%2C31.041%2041.819%2C31.041%20C41.913%2C31.041%2042.010%2C31.030%2042.106%2C31.008%20L47.057%2C29.864%20C47.610%2C29.736%2048.000%2C29.258%2048.000%2C28.708%20L48.000%2C1.186%20C48.000%2C0.823%2047.827%2C0.479%2047.532%2C0.253%20ZM38.585%2C30.704%20C38.585%2C38.481%2032.042%2C44.808%2024.000%2C44.808%20C15.957%2C44.808%209.413%2C38.481%209.413%2C30.704%20C9.413%2C22.927%2015.957%2C16.600%2024.000%2C16.600%20C32.042%2C16.600%2038.585%2C22.927%2038.585%2C30.704%20ZM22.771%2C34.658%20C21.403%2C34.260%2020.322%2C33.215%2019.910%2C31.892%20L11.933%2C31.892%20C12.510%2C37.412%2017.062%2C41.814%2022.771%2C42.371%20L22.771%2C34.658%20ZM24.000%2C32.456%20C24.999%2C32.456%2025.812%2C31.670%2025.812%2C30.704%20C25.812%2C29.738%2024.999%2C28.952%2024.000%2C28.952%20C23.001%2C28.952%2022.188%2C29.738%2022.188%2C30.704%20C22.188%2C31.670%2023.001%2C32.456%2024.000%2C32.456%20ZM36.066%2C31.892%20L28.089%2C31.892%20C27.677%2C33.215%2026.596%2C34.260%2025.229%2C34.658%20L25.229%2C42.371%20C30.937%2C41.814%2035.489%2C37.412%2036.066%2C31.892%20ZM36.066%2C29.515%20C35.448%2C23.605%2030.272%2C18.977%2024.000%2C18.977%20C17.727%2C18.977%2012.551%2C23.605%2011.933%2C29.515%20L19.910%2C29.515%20C20.439%2C27.816%2022.072%2C26.575%2024.000%2C26.575%20C25.927%2C26.575%2027.560%2C27.816%2028.089%2C29.515%20L36.066%2C29.515%20ZM41.210%2C23.671%20C41.817%2C23.376%2042.061%2C22.661%2041.755%2C22.075%20C39.848%2C18.412%2036.711%2C15.379%2032.924%2C13.535%20C32.318%2C13.240%2031.578%2C13.476%2031.273%2C14.062%20C30.968%2C14.648%2031.212%2C15.363%2031.818%2C15.658%20C35.138%2C17.274%2037.888%2C19.933%2039.560%2C23.144%20C39.776%2C23.558%2040.209%2C23.798%2040.659%2C23.798%20C40.844%2C23.798%2041.033%2C23.757%2041.210%2C23.671%20Z%22/%3E%0A%3C/svg%3E');
}
.services__item-2 {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2237px%22%20height%3D%2250px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23ffca00%22%0A%20d%3D%22M8.893%2C17.093%20C10.123%2C17.819%2011.501%2C18.182%2012.880%2C18.182%20C14.258%2C18.182%2015.637%2C17.819%2016.866%2C17.093%20C19.791%2C15.367%2021.377%2C11.952%2021.218%2C7.725%20C21.026%2C2.610%2016.782%2C0.135%2012.920%2C0.000%20C12.893%2C-0.000%2012.866%2C-0.000%2012.840%2C0.000%20C8.978%2C0.135%204.734%2C2.610%204.541%2C7.725%20C4.382%2C11.952%205.969%2C15.367%208.893%2C17.093%20ZM12.880%2C2.255%20C15.761%2C2.370%2018.714%2C4.118%2018.919%2C7.650%20L18.072%2C7.650%20C16.766%2C6.169%2014.907%2C5.372%2012.884%2C5.372%20C12.884%2C5.372%2012.883%2C5.372%2012.883%2C5.372%20C10.856%2C5.372%208.994%2C6.169%207.687%2C7.650%20L6.840%2C7.650%20C7.046%2C4.118%209.999%2C2.370%2012.880%2C2.255%20ZM8.237%2C9.929%20C8.603%2C9.929%208.947%2C9.769%209.163%2C9.476%20C10.036%2C8.291%2011.393%2C7.617%2012.883%2C7.617%20C14.370%2C7.617%2015.723%2C8.288%2016.597%2C9.472%20C16.813%2C9.766%2017.156%2C9.929%2017.522%2C9.929%20L18.819%2C9.929%20C18.476%2C12.322%2017.388%2C14.122%2015.694%2C15.122%20C13.958%2C16.146%2011.801%2C16.140%2010.065%2C15.116%20C8.372%2C14.116%207.283%2C12.322%206.941%2C9.929%20L8.237%2C9.929%20ZM37.000%2C37.249%20C37.000%2C44.280%2031.242%2C49.999%2024.164%2C49.999%20C23.531%2C49.999%2023.017%2C49.489%2023.017%2C48.860%20C23.017%2C48.231%2023.531%2C47.721%2024.164%2C47.721%20C29.977%2C47.721%2034.706%2C43.023%2034.706%2C37.249%20C34.706%2C36.619%2035.219%2C36.109%2035.853%2C36.109%20C36.486%2C36.109%2037.000%2C36.619%2037.000%2C37.249%20ZM32.247%2C37.021%20C32.247%2C36.498%2032.198%2C35.987%2032.104%2C35.491%20C32.101%2C35.471%2032.097%2C35.452%2032.093%2C35.433%20C31.345%2C31.636%2027.972%2C28.763%2023.935%2C28.763%20C19.352%2C28.763%2015.623%2C32.468%2015.623%2C37.021%20C15.623%2C41.574%2019.352%2C45.277%2023.935%2C45.277%20C28.518%2C45.277%2032.247%2C41.574%2032.247%2C37.021%20ZM29.903%2C37.269%20C29.787%2C40.065%2027.791%2C42.372%2025.038%2C42.890%20L25.038%2C38.130%20C26.758%2C38.040%2028.392%2C37.748%2029.903%2C37.269%20ZM23.935%2C31.042%20C26.534%2C31.042%2028.753%2C32.688%2029.593%2C34.985%20C27.887%2C35.573%2025.952%2C35.881%2023.935%2C35.881%20C21.918%2C35.881%2019.983%2C35.573%2018.276%2C34.984%20C19.116%2C32.688%2021.336%2C31.042%2023.935%2C31.042%20ZM22.744%2C42.890%20C20.105%2C42.372%2017.993%2C40.065%2017.877%2C37.269%20C19.389%2C37.748%2021.023%2C38.040%2022.744%2C38.130%20L22.744%2C42.890%20ZM4.977%2C28.335%20L2.525%2C41.495%20L12.210%2C41.495%20C12.843%2C41.495%2013.357%2C42.005%2013.357%2C42.634%20C13.357%2C43.263%2012.843%2C43.774%2012.210%2C43.774%20L1.146%2C43.774%20C0.805%2C43.774%200.482%2C43.615%200.264%2C43.355%20C0.046%2C43.094%20-0.044%2C42.743%200.018%2C42.410%20L2.721%2C27.912%20C3.364%2C24.464%205.913%2C21.923%209.713%2C20.941%20C11.727%2C20.421%2013.949%2C20.414%2015.969%2C20.922%20C18.153%2C21.470%2019.981%2C22.567%2021.254%2C24.093%20C21.658%2C24.577%2021.590%2C25.296%2021.103%2C25.698%20C20.615%2C26.099%2019.892%2C26.032%2019.488%2C25.547%20C17.557%2C23.234%2013.775%2C22.247%2010.290%2C23.147%20C9.190%2C23.431%208.229%2C23.879%207.434%2C24.463%20L13.351%2C30.342%20C13.799%2C30.787%2013.799%2C31.508%2013.351%2C31.953%20C12.903%2C32.399%2012.176%2C32.398%2011.728%2C31.953%20L5.855%2C26.118%20C5.426%2C26.778%205.128%2C27.528%204.977%2C28.335%20Z%22/%3E%0A%3C/svg%3E');
}
.services__item-3 {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20width%3D%2237px%22%20height%3D%2246px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23ffca00%22%0A%20d%3D%22M33.347%2C37.954%20C32.637%2C37.954%2032.070%2C37.389%2032.070%2C36.683%20C32.070%2C35.976%2032.637%2C35.411%2033.347%2C35.411%20C33.953%2C35.411%2034.445%2C34.921%2034.445%2C34.318%20L34.445%2C3.636%20C34.445%2C3.033%2033.953%2C2.543%2033.347%2C2.543%20L11.866%2C2.543%20C11.261%2C2.543%2010.769%2C3.033%2010.769%2C3.636%20C10.769%2C4.342%2010.201%2C4.908%209.491%2C4.908%20C8.781%2C4.908%208.214%2C4.342%208.214%2C3.636%20C8.214%2C1.629%209.851%2C-0.000%2011.866%2C-0.000%20L33.347%2C-0.000%20C35.363%2C-0.000%2037.000%2C1.629%2037.000%2C3.636%20L37.000%2C34.318%20C37.000%2C36.325%2035.363%2C37.954%2033.347%2C37.954%20ZM28.786%2C11.681%20L28.786%2C42.363%20C28.786%2C44.370%2027.149%2C46.000%2025.133%2C46.000%20L3.653%2C46.000%20C1.637%2C46.000%20-0.000%2C44.370%20-0.000%2C42.363%20L-0.000%2C11.681%20C-0.000%2C9.675%201.637%2C8.045%203.653%2C8.045%20L25.133%2C8.045%20C27.139%2C8.045%2028.777%2C9.675%2028.786%2C11.681%20ZM3.643%2C10.588%20C3.037%2C10.588%202.545%2C11.078%202.545%2C11.681%20L2.545%2C42.354%20C2.545%2C42.957%203.037%2C43.447%203.643%2C43.447%20L25.124%2C43.447%20C25.729%2C43.447%2026.222%2C42.957%2026.222%2C42.354%20L26.222%2C11.681%20C26.222%2C11.078%2025.729%2C10.588%2025.124%2C10.588%20L3.643%2C10.588%20Z%22/%3E%0A%3C/svg%3E');
}
.services__item-4 {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20width%3D%2238px%22%20height%3D%2246px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23ffca00%22%0A%20d%3D%22M17.844%2C40.095%20C17.015%2C42.735%2014.482%2C44.702%2010.316%2C45.941%20C10.182%2C45.980%2010.047%2C45.999%209.915%2C45.999%20C9.328%2C45.999%208.785%2C45.629%208.605%2C45.055%20C8.384%2C44.349%208.792%2C43.604%209.515%2C43.388%20C12.757%2C42.425%2014.678%2C41.054%2015.224%2C39.314%20C15.445%2C38.610%2016.211%2C38.213%2016.935%2C38.428%20C17.658%2C38.644%2018.065%2C39.390%2017.844%2C40.095%20ZM11.158%2C38.763%20C11.158%2C38.026%2010.545%2C37.428%209.788%2C37.428%20C6.861%2C37.428%204.480%2C35.109%204.480%2C32.259%20L4.480%2C19.428%20C4.480%2C18.890%204.510%2C18.349%204.569%2C17.818%20C4.650%2C17.085%204.106%2C16.427%203.354%2C16.348%20C2.601%2C16.269%201.926%2C16.799%201.845%2C17.531%20C1.776%2C18.157%201.740%2C18.795%201.740%2C19.428%20L1.740%2C32.259%20C1.740%2C36.581%205.350%2C40.097%209.788%2C40.097%20C10.545%2C40.097%2011.158%2C39.500%2011.158%2C38.763%20ZM19.870%2C1.771%20C17.554%2C1.771%2015.294%2C2.196%2013.153%2C3.034%20C12.451%2C3.309%2012.110%2C4.086%2012.393%2C4.770%20C12.675%2C5.454%2013.472%2C5.785%2014.175%2C5.510%20C15.989%2C4.800%2017.906%2C4.440%2019.870%2C4.440%20C28.356%2C4.440%2035.260%2C11.164%2035.260%2C19.428%20L35.260%2C32.259%20C35.260%2C35.110%2032.879%2C37.428%2029.952%2C37.428%20C29.196%2C37.428%2028.582%2C38.026%2028.582%2C38.763%20C28.582%2C39.500%2029.196%2C40.097%2029.952%2C40.097%20C34.390%2C40.097%2038.000%2C36.581%2038.000%2C32.259%20L38.000%2C19.428%20C38.000%2C9.692%2029.867%2C1.771%2019.870%2C1.771%20ZM3.610%2C11.781%20C3.203%2C12.402%203.389%2C13.227%204.027%2C13.624%20C4.256%2C13.766%204.511%2C13.834%204.763%2C13.834%20C5.215%2C13.834%205.658%2C13.617%205.919%2C13.218%20L9.581%2C7.635%20C9.850%2C7.224%209.868%2C6.704%209.628%2C6.276%20C9.387%2C5.849%208.927%2C5.583%208.426%2C5.583%20L3.832%2C5.583%20L6.087%2C2.037%20C6.485%2C1.411%206.287%2C0.588%205.644%2C0.200%20C5.000%2C-0.188%204.156%2C0.005%203.758%2C0.631%20L0.207%2C6.214%20C-0.055%2C6.626%20-0.068%2C7.143%200.174%2C7.566%20C0.416%2C7.989%200.874%2C8.251%201.371%2C8.251%20L5.925%2C8.251%20L3.610%2C11.781%20ZM31.388%2C22.756%20C31.388%2C20.684%2031.049%2C18.774%2030.379%2C17.078%20C30.360%2C17.028%2030.338%2C16.978%2030.312%2C16.929%20C30.225%2C16.761%2030.104%2C16.617%2029.961%2C16.502%20C29.846%2C16.410%2029.718%2C16.338%2029.582%2C16.288%20C29.340%2C16.197%2029.070%2C16.172%2028.805%2C16.228%20C28.701%2C16.250%2028.598%2C16.283%2028.499%2C16.329%20C28.421%2C16.366%2028.347%2C16.409%2028.279%2C16.458%20C26.278%2C17.806%2023.227%2C18.583%2019.901%2C18.589%20C19.145%2C18.591%2018.532%2C19.189%2018.534%2C19.926%20C18.535%2C20.662%2019.149%2C21.258%2019.904%2C21.258%20C19.905%2C21.258%2019.906%2C21.258%2019.907%2C21.258%20C23.024%2C21.252%2025.979%2C20.634%2028.289%2C19.531%20C28.528%2C20.530%2028.648%2C21.610%2028.648%2C22.756%20C28.648%2C26.780%2026.531%2C30.483%2023.124%2C32.417%20C21.797%2C33.171%2020.793%2C33.507%2019.870%2C33.509%20C18.947%2C33.507%2017.943%2C33.170%2016.617%2C32.417%20C13.209%2C30.483%2011.092%2C26.780%2011.092%2C22.756%20C11.092%2C21.610%2011.213%2C20.532%2011.451%2C19.533%20C11.704%2C19.654%2011.965%2C19.770%2012.233%2C19.879%20L12.371%2C19.936%20C13.289%2C20.312%2013.953%2C20.584%2014.717%2C20.266%20C15.466%2C19.954%2015.723%2C19.304%2016.020%2C18.552%20C16.083%2C18.392%2016.154%2C18.210%2016.240%2C18.004%20C16.602%2C17.129%2017.001%2C16.050%2017.147%2C15.550%20C17.354%2C14.841%2016.932%2C14.103%2016.204%2C13.901%20C15.476%2C13.700%2014.718%2C14.112%2014.512%2C14.820%20C14.405%2C15.185%2014.053%2C16.150%2013.699%2C17.005%20C13.623%2C17.188%2013.557%2C17.353%2013.498%2C17.502%20C13.476%2C17.493%2013.454%2C17.484%2013.432%2C17.475%20L13.292%2C17.418%20C12.610%2C17.140%2011.994%2C16.817%2011.461%2C16.458%20C11.394%2C16.409%2011.322%2C16.367%2011.245%2C16.331%20C11.144%2C16.283%2011.039%2C16.249%2010.933%2C16.227%20C10.665%2C16.171%2010.392%2C16.198%2010.148%2C16.291%20C10.017%2C16.341%209.892%2C16.412%209.780%2C16.502%20C9.637%2C16.616%209.516%2C16.760%209.428%2C16.928%20C9.403%2C16.977%209.380%2C17.028%209.362%2C17.079%20C8.692%2C18.775%208.353%2C20.684%208.353%2C22.756%20C8.353%2C27.726%2010.991%2C32.312%2015.237%2C34.723%20C17.005%2C35.726%2018.433%2C36.175%2019.867%2C36.178%20C19.868%2C36.178%2019.869%2C36.178%2019.870%2C36.178%20C19.871%2C36.178%2019.873%2C36.178%2019.874%2C36.178%20C21.307%2C36.175%2022.735%2C35.726%2024.504%2C34.723%20C28.750%2C32.312%2031.388%2C27.726%2031.388%2C22.756%20ZM30.144%2C43.388%20C26.903%2C42.425%2024.982%2C41.054%2024.436%2C39.314%20C24.215%2C38.610%2023.450%2C38.213%2022.725%2C38.428%20C22.002%2C38.644%2021.595%2C39.390%2021.816%2C40.095%20C22.645%2C42.735%2025.178%2C44.702%2029.344%2C45.941%20C29.478%2C45.981%2029.612%2C45.999%2029.745%2C45.999%20C30.331%2C45.999%2030.874%2C45.629%2031.054%2C45.055%20C31.275%2C44.349%2030.868%2C43.604%2030.144%2C43.388%20Z%22/%3E%0A%3C/svg%3E');
}
.services__item-5 {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20width%3D%2259px%22%20height%3D%2232px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23ffca00%22%0A%20d%3D%22M58.989%2C23.803%20C59.050%2C24.355%2058.875%2C24.910%2058.508%2C25.326%20C58.142%2C25.739%2057.619%2C25.976%2057.072%2C25.976%20L55.023%2C25.976%20C54.567%2C29.373%2051.684%2C32.000%2048.204%2C32.000%20C44.723%2C32.000%2041.840%2C29.373%2041.384%2C25.976%20L20.292%2C25.976%20C19.836%2C29.373%2016.953%2C32.000%2013.473%2C32.000%20C9.992%2C32.000%207.109%2C29.373%206.653%2C25.976%20L2.918%2C25.976%20C2.027%2C25.976%201.195%2C25.573%200.638%2C24.870%20C0.085%2C24.175%20-0.123%2C23.277%200.067%2C22.409%20C0.572%2C20.095%202.299%2C14.141%207.419%2C8.827%20C9.985%2C6.164%2013.039%2C4.069%2016.498%2C2.599%20C20.559%2C0.874%2025.217%2C-0.001%2030.342%2C-0.001%20L32.851%2C-0.001%20C34.718%2C-0.001%2036.398%2C1.049%2037.233%2C2.740%20L40.548%2C9.447%20C40.724%2C9.803%2041.073%2C10.029%2041.460%2C10.036%20C44.288%2C10.091%2051.129%2C10.525%2054.490%2C13.326%20C55.633%2C13.330%2056.894%2C13.889%2057.784%2C15.282%20C58.310%2C16.106%2058.621%2C17.114%2058.636%2C18.048%20C58.650%2C18.921%2058.402%2C19.669%2057.944%2C20.182%20C58.484%2C21.292%2058.847%2C22.509%2058.989%2C23.803%20ZM48.204%2C30.117%20C50.974%2C30.117%2053.227%2C27.837%2053.227%2C25.035%20C53.227%2C22.232%2050.974%2C19.953%2048.204%2C19.953%20C45.433%2C19.953%2043.180%2C22.232%2043.180%2C25.035%20C43.180%2C27.837%2045.433%2C30.117%2048.204%2C30.117%20ZM13.473%2C30.117%20C16.243%2C30.117%2018.496%2C27.837%2018.496%2C25.035%20C18.496%2C22.232%2016.243%2C19.953%2013.473%2C19.953%20C10.703%2C19.953%208.449%2C22.232%208.449%2C25.035%20C8.449%2C27.837%2010.703%2C30.117%2013.473%2C30.117%20ZM56.221%2C16.303%20C55.517%2C15.202%2054.555%2C15.073%2053.945%2C15.298%20C53.848%2C15.333%2053.731%2C15.418%2053.622%2C15.517%20C54.837%2C16.225%2055.908%2C17.163%2056.769%2C18.280%20C56.773%2C18.215%2056.776%2C18.149%2056.775%2C18.080%20C56.766%2C17.496%2056.558%2C16.832%2056.221%2C16.303%20ZM48.204%2C15.937%20C44.627%2C15.937%2041.391%2C18.080%2039.959%2C21.396%20C39.753%2C21.872%2039.205%2C22.090%2038.734%2C21.881%20C38.263%2C21.673%2038.048%2C21.119%2038.254%2C20.642%20C39.982%2C16.640%2043.887%2C14.054%2048.204%2C14.054%20C49.483%2C14.054%2050.712%2C14.281%2051.857%2C14.693%20C52.001%2C14.494%2052.174%2C14.302%2052.363%2C14.130%20C51.169%2C13.447%2049.516%2C12.897%2047.492%2C12.515%20C45.029%2C12.050%2042.633%2C11.942%2041.424%2C11.918%20C40.343%2C11.897%2039.370%2C11.273%2038.884%2C10.289%20L35.568%2C3.581%20C35.050%2C2.533%2034.009%2C1.882%2032.850%2C1.882%20L30.342%2C1.882%20C21.296%2C1.882%2014.031%2C4.661%208.751%2C10.141%20C5.444%2C13.574%203.647%2C17.356%202.712%2C19.979%20C5.357%2C16.289%209.286%2C14.055%2013.473%2C14.055%20C17.786%2C14.055%2021.691%2C16.639%2023.421%2C20.638%20C23.627%2C21.114%2023.412%2C21.669%2022.941%2C21.877%20C22.471%2C22.086%2021.922%2C21.868%2021.716%2C21.392%20C20.283%2C18.078%2017.047%2C15.937%2013.473%2C15.937%20C8.898%2C15.937%204.655%2C19.104%202.572%2C24.036%20C2.681%2C24.074%202.798%2C24.094%202.918%2C24.094%20L6.653%2C24.094%20C7.109%2C20.697%209.993%2C18.070%2013.473%2C18.070%20C16.953%2C18.070%2019.836%2C20.697%2020.292%2C24.094%20L41.384%2C24.094%20C41.840%2C20.697%2044.723%2C18.070%2048.204%2C18.070%20C51.684%2C18.070%2054.567%2C20.697%2055.023%2C24.094%20L57.072%2C24.094%20C57.080%2C24.094%2057.101%2C24.094%2057.121%2C24.070%20C57.136%2C24.054%2057.143%2C24.034%2057.140%2C24.012%20C56.632%2C19.408%2052.790%2C15.937%2048.204%2C15.937%20ZM36.296%2C11.921%20L16.707%2C11.921%20C15.695%2C11.921%2014.808%2C11.301%2014.447%2C10.341%20C14.091%2C9.395%2014.341%2C8.351%2015.084%2C7.681%20C17.473%2C5.527%2022.643%2C3.011%2029.350%2C3.011%20L32.665%2C3.011%20C33.435%2C3.011%2034.128%2C3.474%2034.432%2C4.190%20L37.151%2C10.609%20C37.274%2C10.900%2037.245%2C11.234%2037.073%2C11.498%20C36.901%2C11.762%2036.609%2C11.921%2036.296%2C11.921%20ZM24.450%2C5.400%20C20.858%2C6.149%2017.946%2C7.621%2016.322%2C9.086%20C16.081%2C9.302%2016.146%2C9.567%2016.185%2C9.671%20C16.218%2C9.757%2016.352%2C10.039%2016.706%2C10.039%20L24.450%2C10.039%20L24.450%2C5.400%20ZM32.721%2C4.931%20C32.712%2C4.908%2032.689%2C4.893%2032.665%2C4.893%20L29.350%2C4.893%20C28.305%2C4.893%2027.289%2C4.963%2026.311%2C5.088%20L26.311%2C10.039%20L34.885%2C10.039%20L32.721%2C4.931%20ZM13.473%2C22.086%20C13.986%2C22.086%2014.403%2C22.507%2014.403%2C23.027%20C14.403%2C23.547%2013.986%2C23.968%2013.473%2C23.968%20C12.891%2C23.968%2012.418%2C24.447%2012.418%2C25.035%20C12.418%2C25.623%2012.891%2C26.101%2013.473%2C26.101%20C13.848%2C26.101%2014.198%2C25.897%2014.386%2C25.568%20C14.644%2C25.118%2015.213%2C24.965%2015.658%2C25.225%20C16.102%2C25.486%2016.254%2C26.061%2015.997%2C26.511%20C15.477%2C27.420%2014.509%2C27.984%2013.473%2C27.984%20C11.865%2C27.984%2010.558%2C26.661%2010.558%2C25.035%20C10.558%2C23.409%2011.865%2C22.086%2013.473%2C22.086%20ZM48.204%2C22.086%20C48.717%2C22.086%2049.134%2C22.507%2049.134%2C23.027%20C49.134%2C23.547%2048.717%2C23.968%2048.204%2C23.968%20C47.622%2C23.968%2047.149%2C24.447%2047.149%2C25.035%20C47.149%2C25.623%2047.622%2C26.101%2048.204%2C26.101%20C48.579%2C26.101%2048.929%2C25.897%2049.117%2C25.568%20C49.375%2C25.118%2049.944%2C24.964%2050.389%2C25.224%20C50.833%2C25.485%2050.985%2C26.060%2050.728%2C26.510%20C50.208%2C27.419%2049.241%2C27.984%2048.204%2C27.984%20C46.596%2C27.984%2045.289%2C26.661%2045.289%2C25.035%20C45.289%2C23.409%2046.596%2C22.086%2048.204%2C22.086%20Z%22/%3E%0A%3C/svg%3E');
}
.services__title {
  font-weight: bold;
}
.about {
  clear: both;
  display: block;
  overflow: hidden;
  background: url('../img/sania_bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}
.about__item {
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
}
.about__title {
  display: block;
  margin: 0 0 50px 0;
  font-size: 42px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
.about__title-sm {
  display: inline-block;
  font-size: 48px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-bottom: 4px solid #ffca00;
  padding: 0 0 3px 0;
  margin: 0 0 15px 0;
}
.about__text {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}
.bottom-form {
  padding: 85px 0;
  background: url('../img/form_bg.jpg') center center no-repeat;
  background-size: cover;
}
.callback {
  padding: 100px 0 180px 0;
  text-align: center;
}
.callback__title {
  display: block;
  margin: 0 0 50px 0;
  font-size: 42px;
  color: #000;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
.callback__phone {
  display: inline-block;
  font-size: 30px;
  height: 49px;
  line-height: 52px;
  padding: 0 0 0 70px;
  margin: 0 0 50px 0;
  letter-spacing: 2px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20width%3D%2249px%22%20height%3D%2249px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23ffca00%22%0A%20d%3D%22M24.500%2C3.062%20C36.319%2C3.062%2045.937%2C12.680%2045.937%2C24.500%20C45.937%2C36.319%2036.319%2C45.937%2024.500%2C45.937%20C12.681%2C45.937%203.062%2C36.319%203.062%2C24.500%20C3.062%2C12.680%2012.681%2C3.062%2024.500%2C3.062%20M24.500%2C-0.000%20C10.970%2C-0.000%20-0.000%2C10.970%20-0.000%2C24.500%20C-0.000%2C38.030%2010.970%2C49.000%2024.500%2C49.000%20C38.030%2C49.000%2049.000%2C38.030%2049.000%2C24.500%20C49.000%2C10.970%2038.030%2C-0.000%2024.500%2C-0.000%20L24.500%2C-0.000%20ZM38.159%2C32.692%20L38.021%2C32.273%20C37.698%2C31.310%2036.633%2C30.305%2035.652%2C30.036%20L32.031%2C29.046%20C31.050%2C28.780%2029.650%2C29.138%2028.929%2C29.859%20L27.619%2C31.169%20C22.858%2C29.880%2019.123%2C26.145%2017.837%2C21.384%20L19.147%2C20.074%20C19.864%2C19.356%2020.223%2C17.956%2019.957%2C16.972%20L18.970%2C13.351%20C18.704%2C12.369%2017.693%2C11.305%2016.730%2C10.982%20L16.317%2C10.844%20C15.351%2C10.521%2013.973%2C10.847%2013.255%2C11.568%20L11.293%2C13.530%20C10.943%2C13.877%2010.719%2C14.873%2010.719%2C14.876%20C10.653%2C21.103%2013.093%2C27.099%2017.496%2C31.504%20C21.886%2C35.895%2027.862%2C38.332%2034.067%2C38.278%20C34.100%2C38.278%2035.126%2C38.060%2035.476%2C37.710%20L37.438%2C35.748%20C38.156%2C35.033%2038.479%2C33.654%2038.159%2C32.692%20Z%22/%3E%0A%3C/svg%3E') left center no-repeat;
}
.callback__text {
  display: block;
  text-align: center;
  font-size: 22px;
  color: #000;
}
.contacts {
  display: block;
  height: 400px;
  position: relative;
  background: #f2f2f2;
}
.adress {
  display: block;
  width: 610px;
  padding: 25px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: -95px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}
.adress__st {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 18px;
  font-weight: 900;
  margin: 0 0 10px 0;
}
.adress__info {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
}
.adress__title {
  display: block;
  position: relative;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 0 25px 0;
  margin: 0 0 30px 0;
}
.adress__title:after {
  content: '';
  position: absolute;
  background: #ffca00;
  width: 80px;
  height: 4px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.adress-tabs {
  display: block;
  overflow: hidden;
}
.adress-tabs-center {
  text-align: center;
  margin: 0 0 40px 0;
}
.adress-tabs__item {
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #cecece;
  letter-spacing: .5px;
  cursor: pointer;
}
.adress-tabs__item-active {
  color: #000;
}
.adress-tabs__wrapper {
  display: block;
  overflow: hidden;
  text-align: center;
  position: relative;
  display: none;
}
.adress-tabs__wrapper-active {
  display: block;
}
.button {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  background: #fff;
  color: #333;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 39px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
}
.button-callback {
  background: #ffca00;
}
.button-callback:hover {
  background: #e7b908;
}
.button-callback:active {
  line-height: 50px;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
}
@media (max-width: 980px) {
  .wrapper {
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
  }
  .contact__form {
    width: 30%;
  }
  .contact__map {
    width: 65%;
  }
  .contact__input,
  .contact__textarea {
    width: 100%;
    min-width: none;
  }
}
@media (max-width: 780px) {
  .contact__form {
    clear: both;
    float: none;
    width: 100%;
    max-width: none;
  }
  .contact__map {
    clear: both;
    float: none;
    width: 100%;
    max-width: none;
  }
  .contact__input,
  .contact__textarea {
    width: 100%;
    min-width: auto;
  }
  .page-logo {
    display: none;
  }
  .wrapper {
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
  }
  .section--main {
    height: 240px;
  }
  .twitter {
    background: none;
  }
  .twitter:after {
    left: auto;
    right: -300px;
  }
  .services__item {
    width: 50%;
  }
}
@media (max-width: 740px) {
  header {
    height: auto;
  }
  .header--bottom {
    height: 0;
  }
  .wrapper--auto-height {
    height: 0;
  }
  .header--top {
    height: 65px;
  }
  .logo {
    width: auto;
    font-size: 0;
    margin: 80px 0 0 0;
  }
  .logo span {
    margin: -1px 0 0 -1px;
    font-size: 25px;
    display: inline-block;
    padding: 4px 8px;
    background: #fff;
  }
  .logo br {
    display: inline-block;
  }
  .topmenu {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
    background: #1e3785;
    padding: 10px 10px 0 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
    z-index: 999;
    -webkit-transform: translateX(-240px);
    -moz-transform: translateX(-240px);
    transform: translateX(-240px);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
  }
  .topmenu__item {
    display: block;
    width: 100%;
    padding: 0;
  }
  .topmenu__item:hover {
    padding: 0;
    margin: 0;
  }
  .topmenu__item a {
    background: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 5px !important;
    margin: 0;
  }
  .topmenu__item a:hover {
    margin: 0;
  }
  .topmenu__item:last-child a {
    border-bottom: none;
  }
  .header-contacts {
    position: absolute;
    width: auto;
    top: 16px;
    right: 30px;
  }
  .header-contacts__phone {
    color: #fff;
  }
  .header-contacts__worktime {
    color: #fff;
  }
  .show-menu {
    display: block;
  }
  .left-menu-open .topmenu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  }
  .topmenu-deep {
    display: block;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: auto;
    min-width: auto;
    background: none;
    padding: 10px 0;
  }
  .topmenu-deep__item a {
    margin: 0 10px !important;
    color: #fff;
  }
}
@media (max-width: 630px) {
  .logo {
    margin: 65px 0 0 0;
  }
}
@media (max-width: 480px) {
  h1,
  h2,
  h3 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  .section--main {
    height: 160px;
  }
  .section--content {
    padding: 20px 0 35px 0;
  }
  .section--services {
    padding: 35px 0 0 0;
  }
  .section--services .h2 {
    margin: 0 0 35px 0;
  }
  .section--news {
    padding: 35px 0 0 0;
  }
  .section--news .h2 {
    margin: 0 0 35px 0;
  }
  .section--inner-page {
    margin: 0 0 30px 0;
  }
  .logo {
    font-size: 0;
    margin: 30px 0 0 0;
  }
  .logo span {
    font-size: 22px;
  }
  .services__item {
    width: auto;
    display: block;
    position: relative;
    min-height: 80px;
    margin: 0 0 40px 105px;
  }
  .services__item-order {
    display: none !important;
  }
  .services__item:before {
    position: absolute;
    left: -105px;
    top: 0;
    width: 80px;
    height: 80px;
    background-size: cover;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .services__item a {
    font-size: 14px;
  }
  .twitter {
    padding: 0;
  }
  .title-center {
    margin: 0 0 30px;
  }
}
@media (max-width: 380px) {
  .logo {
    margin: 40px 0 0 0;
  }
  .logo span {
    font-size: 18px;
    padding: 4px 6px;
  }
}
