<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="theme-color" content="#000000">
	<title>Сания</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<header>
	<div class="wrapper wrapper-main">
		<ul class="topmenu">
			<li class="topmenu__item"><a href="#">Главная</a></li>
			<li class="topmenu__item"><a href="#">Об автошколе</a></li>
			<li class="topmenu__item"><a href="#">Галерея</a></li>
			<li class="topmenu__item"><a href="#">Документы</a></li>
			<li class="topmenu__item"><a href="#">Филиалы</a></li>
		</ul>
		<div class="info">
			<p class="info__days">Пн-Пт: 10.00-20.00</p>
			<a class="info__phone" href="tel:+740145377733">8 40145 377-733</a>
			<span class="button button-callback">Заказать звонок</span>
		</div>
		<div class="title">
			<h1><span class="title-big">Автошкола «САНИЯ»</span><span class="title-small">Обучение по программе подготовки водителей категорий А, В, С, ЕкВ, ЕкС</span></h1>
		</div>
	</div>
</header>
<body>