<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="theme-color" content="#000000">
	<title>Сания</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<header>
	<div class="wrapper">
		<ul class="topmenu">
			<li class="topmenu__item"><a href="#">Главная</a></li>
			<li class="topmenu__item"><a href="#">Об автошколе</a></li>
			<li class="topmenu__item"><a href="#">Галерея</a></li>
			<li class="topmenu__item"><a href="#">Документы</a></li>
			<li class="topmenu__item"><a href="#">Филиалы</a></li>
		</ul>
	</div>
</header>
<body>