<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="theme-color" content="#3ba4bd">
	<title>Сания</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
<header>
	<div class="wrapper header wrapper-main">
		<div class="topmenu-block" id="topmenu-block">
			<div class="toggle-menu" id="toggle-menu">
				<div class="toggle-menu__item"></div>
			</div>
			<ul class="topmenu">
				<li class="topmenu__item"><a href="#">Главная</a></li>
				<li class="topmenu__item"><a href="#">Об автошколе</a></li>
				<li class="topmenu__item"><a href="#">Галерея</a></li>
				<li class="topmenu__item"><a href="#">Документы</a></li>
				<li class="topmenu__item"><a href="#">Филиалы</a></li>
			</ul>
			<div class="footer__contacts" id="footer__contacts">
				<p class="footer__title">Автошкола «САНИЯ»</p>
				<table class="footer__table">
					<tbody><tr>
						<td><a href="tel:8 9062 377 733">8 9062 377 733</a></td>
						<td>Головной офис</td>
					</tr>
					<tr>
						<td><a href="tel:8 911 459 0089">8 911 459 0089</a></td>
						<td>г. Калининград</td>
					</tr>
					<tr>
						<td><a href="tel:8 911 488 2289">8 911 488 2289</a></td>
						<td>Директор</td>
					</tr>
				</tbody></table>
				<a href="mailto:avtosania39@yandex.ru" class="footer__mail">avtosania39@yandex.ru</a>
			</div>
		</div>
		<div class="info">
			<p class="info__days">Пн-Пт: 10.00-20.00</p>
			<a class="info__phone" href="tel:+740145377733">8 40145 377-733</a>
			<span class="button button-callback">Заказать звонок</span>
		</div>
		<div class="title">
			<h1><span class="title-big">Автошкола «САНИЯ»</span><span class="title-small">Обучение по программе подготовки водителей категорий А, В, С, ЕкВ, ЕкС</span></h1>
			<span class="button button-callback">Заказать звонок</span>
		</div>
		//= send_form.html
	</div>
</header>