<div class="form-block">
	<div class="form-block__text">
		<p class="form-bloc__title"><span>Первое</span>занятие бесплатно</p>
		<p>Многие не идут учиться в автошколы лишь потому, что боятся машины и не уверены в своих силах.</p>
		<p>Оставьте ваши контактные данные и мы запишем вас на первое занятие бесплатно.</p>
		<p>С Вами рядом на протяжении всего занятия будет профессиональный инструктор, с опытом работы более 5 лет.</p>
	</div>
	<div class="form-block__form">
		<form class="form-send" action="">
			<input type="text" class="form-send__input form-send__input-user" placeholder="Введите ваше имя">
			<input type="text" class="form-send__input form-send__input-phone" placeholder="Введите ваш телефон">
			<input type="submit" class="form-send__button" value="Оставить заявку">
			<div class="form-send__text">Ваши данные надежно защищены<br>и не будут переданы третьим лицам</div>
		</form>
	</div>
</div>