@import "_reset.less";
@import "_fonts.less";


// fonts

// colors

.clear() {
	clear: both;
	display: block;
	overflow: hidden;
}

.radius(@rds: 5px) {
	-webkit-border-radius: @rds;
	-moz-border-radius: @rds;
	border-radius: @rds;
}

.transition(@trns: .1s) {
	-webkit-transition: @trns;
	-moz-transition: @trns;
	transition: @trns;
}


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3 {
	font-size: 42px;
	font-weight: lighter;
	margin: 0 0 18px 0;
}
h3 { font-size: 39px }

a {
	text-decoration: underline;
}

html,body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: 'Circe';
}

header {
	.clear();
	background: url('../img/header_bg.jpg') center center no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.wrapper {
	display: block;
	overflow: hidden;
	margin: auto;
	width: 1100px;
}
.topmenu {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	border-bottom: 2px solid rgba(255,255,255,.3);
	height: 60px;
	&__item {
		display: inline-block;
		overflow: hidden;
		margin: 0 30px;
		& a {
			display: block;
			line-height: 60px;
			color: #fff;
			font-size: 18px;
			padding: 0 20px;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none; 	
		}
	}
}

.info {
	clear: both;
	float: right;
	overflow: hidden;
	color: #fff;
	text-align: right;
	letter-spacing: 1px;
	padding: 20px;
	margin: 20px 0;
	&__days {
		font-weight: bold;
		font-size: 16px;
		position: relative;
		padding: 0 0 0 20px;
		&:before {
			content: '';
			display: inline-block;
			margin: 0 5px 0 0;
			width: 13px;
			height: 13px;
			background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%0D%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23fff%22%0D%0A%20d%3D%22M7.000%2C13.999%20C3.150%2C13.999%20-0.000%2C10.849%20-0.000%2C6.999%20C-0.000%2C3.149%203.150%2C-0.000%207.000%2C-0.000%20C10.850%2C-0.000%2014.000%2C3.149%2014.000%2C6.999%20C14.000%2C10.849%2010.850%2C13.999%207.000%2C13.999%20ZM7.000%2C1.399%20C3.920%2C1.399%201.400%2C3.920%201.400%2C6.999%20C1.400%2C10.080%203.920%2C12.599%207.000%2C12.599%20C10.080%2C12.599%2012.600%2C10.080%2012.600%2C6.999%20C12.600%2C3.920%2010.080%2C1.399%207.000%2C1.399%20ZM6.300%2C7.700%20L6.300%2C3.499%20L7.350%2C3.499%20L7.350%2C7.140%20L10.500%2C9.030%20L9.940%2C9.940%20L6.300%2C7.700%20Z%22/%3E%0D%0A%3C/svg%3E') center center no-repeat;
			background-size: cover;
		}
	}
	&__phone {
		display: block;
		color: #fff;
		text-decoration: none;
		font-weight: 900;
		font-size: 36px;
	}
}

.wrapper-main {
	& .info {
		margin: 60px 0;
	}
}

.title {
	clear: both;
	display: block;
	width: 850px;
	margin: 0 auto 140px auto;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
	font-weight: 900;
	&-big {
		font-weight: 900;
		display: block;
		font-size: 60px;
		text-transform: uppercase;
	}
	&-small {
		font-weight: bold;
		display: block;
		font-size: 36px;
	}
}

.form-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 20px;
	background: #fff;
	box-shadow: 0 4px 10px rgba(0,0,0,.2);
	&__text {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding: 15px;
	}
	&__form {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		max-width: 270px;
		padding: 20px 20px 15px 20px;
		border: 3px solid #ececec;
	}
	& p {
		margin: 0 0 10px 0;
	}
	&__title {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 20px 0 !important;
		& span {
			display: inline-block;
			border-bottom: 4px solid #ffca00;
		}
	}
}

.form-send {
	.clear();
	overflow: visible;
	&__input {
		display: block;
		overflow: hidden;
		width: 100%;
		height: 40px;
		border: none;
		padding: 0 36px 0 10px;
		background: #f8f8f8;
		font-family: 'Circe';
		color: #333;
		font-size: 14px;
		position: relative;
		letter-spacing: 1px;
		margin: 0 0 10px 0;
		.radius(2px);
		&-user {
			background: #f8f8f8 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216px%22%20height%3D%2214px%22%3E%0D%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23757575%22%0D%0A%20d%3D%22M15.405%2C11.713%20C15.403%2C11.042%2014.925%2C11.026%2014.353%2C10.801%20L11.687%2C9.750%20C11.640%2C9.733%2011.595%2C9.713%2011.549%2C9.694%20L11.549%2C9.693%20C11.075%2C9.482%2010.657%2C9.188%2010.503%2C8.981%20L10.497%2C8.974%20L10.496%2C8.971%20C10.487%2C8.958%2010.477%2C8.944%2010.469%2C8.931%20L10.463%2C8.920%20L10.462%2C8.918%20L10.456%2C8.911%20L10.456%2C8.910%20C10.386%2C8.806%2010.314%2C8.758%2010.253%2C8.779%20L10.249%2C8.780%20L10.248%2C8.781%20L10.247%2C8.781%20L10.244%2C8.783%20L10.241%2C8.783%20L10.238%2C8.786%20C10.166%2C8.823%2010.180%2C8.783%2010.151%2C8.704%20C10.079%2C8.512%209.960%2C8.147%209.942%2C8.094%20C9.914%2C7.993%209.840%2C8.252%209.857%2C7.973%20L9.887%2C7.470%20C9.936%2C7.417%209.976%2C7.375%2010.003%2C7.346%20C10.176%2C7.151%2010.188%2C6.634%2010.275%2C6.508%20C10.363%2C6.382%2010.537%2C6.355%2010.711%2C5.769%20C10.885%2C5.182%2011.098%2C4.344%2010.874%2C4.330%20C10.819%2C4.327%2010.756%2C4.362%2010.692%2C4.418%20C10.731%2C4.202%2010.814%2C3.714%2010.833%2C3.353%20C10.858%2C2.878%2010.778%2C1.660%2010.503%2C1.214%20C10.332%2C0.935%209.986%2C0.658%209.641%2C0.443%20C9.434%2C0.313%209.227%2C0.206%209.059%2C0.133%20C8.556%2C-0.086%206.972%2C0.014%206.435%2C0.133%20C5.824%2C0.268%205.395%2C0.645%205.122%2C1.092%20C4.848%2C1.539%204.727%2C2.878%204.751%2C3.353%20C4.762%2C3.566%204.892%2C3.926%204.925%2C4.145%20C4.943%2C4.260%204.960%2C4.261%204.975%2C4.343%20C4.952%2C4.334%204.930%2C4.329%204.910%2C4.331%20C4.685%2C4.344%204.897%2C5.182%205.071%2C5.769%20C5.246%2C6.355%205.419%2C6.382%205.507%2C6.508%20C5.594%2C6.634%205.606%2C7.151%205.781%2C7.346%20C5.808%2C7.377%205.850%2C7.422%205.903%2C7.477%20L5.936%2C7.888%20L5.994%2C8.116%20C5.968%2C8.050%205.915%2C8.008%205.890%2C8.094%20C5.815%2C8.318%205.740%2C8.543%205.665%2C8.767%20C5.657%2C8.756%205.645%2C8.749%205.631%2C8.748%20C5.558%2C8.685%205.460%2C8.739%205.371%2C8.885%20C5.240%2C9.101%204.803%2C9.412%204.298%2C9.637%20L4.291%2C9.663%20L4.284%2C9.690%20L4.281%2C9.701%20C4.241%2C9.718%204.201%2C9.735%204.160%2C9.751%20L1.493%2C10.802%20C0.923%2C11.027%200.444%2C11.043%200.441%2C11.713%20L-0.000%2C13.999%20L16.000%2C13.999%20L15.405%2C11.713%20Z%22/%3E%0D%0A%3C/svg%3E') right 12px center no-repeat;
		}
		&-phone {
			margin: 0 0 15px 0;
			background: #f8f8f8 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216px%22%20height%3D%2214px%22%3E%0D%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23757575%22%0D%0A%20d%3D%22M15.915%2C5.059%20C15.896%2C5.161%2015.895%2C5.265%2015.856%2C5.361%20C15.625%2C5.922%2015.194%2C6.386%2014.876%2C6.903%20C14.467%2C7.563%2010.986%2C6.141%2011.434%2C5.260%20C11.603%2C4.934%2012.262%2C4.034%2012.312%2C3.673%20C12.357%2C3.350%2011.933%2C3.098%2011.542%2C3.064%20C10.508%2C2.981%209.188%2C3.057%208.092%2C3.064%20L8.092%2C3.064%20C8.062%2C3.064%208.030%2C3.064%208.000%2C3.064%20C7.970%2C3.064%207.938%2C3.064%207.909%2C3.064%20L7.909%2C3.064%20C6.812%2C3.057%205.492%2C2.981%204.459%2C3.064%20C4.067%2C3.097%203.643%2C3.350%203.689%2C3.673%20C3.738%2C4.034%204.397%2C4.934%204.566%2C5.260%20C5.016%2C6.141%201.534%2C7.563%201.124%2C6.903%20C0.805%2C6.386%200.375%2C5.922%200.145%2C5.361%20C0.106%2C5.265%200.104%2C5.160%200.085%2C5.059%20C-0.426%2C2.759%201.543%2C0.411%204.506%2C0.171%20C5.638%2C0.078%206.773%2C0.026%207.909%2C0.006%20L7.909%2C-0.001%20C7.940%2C0.000%207.970%2C0.002%208.000%2C0.003%20C8.031%2C0.002%208.061%2C0.000%208.092%2C-0.001%20L8.092%2C0.006%20C9.227%2C0.026%2010.362%2C0.078%2011.494%2C0.171%20C14.458%2C0.411%2016.426%2C2.759%2015.915%2C5.059%20ZM13.880%2C12.997%20C13.912%2C13.549%2013.554%2C13.999%2013.083%2C13.999%20L2.917%2C13.999%20C2.446%2C13.999%202.088%2C13.548%202.120%2C12.997%20L2.417%2C7.965%20C3.494%2C7.710%204.871%2C7.046%205.370%2C6.221%20C5.649%2C5.761%205.678%2C5.244%205.450%2C4.795%20C5.392%2C4.683%205.283%2C4.508%205.159%2C4.313%20L5.158%2C4.312%20C5.155%2C4.303%205.155%2C4.303%205.152%2C4.297%20L10.685%2C4.297%20C10.683%2C4.305%2010.682%2C4.306%2010.677%2C4.318%20C10.608%2C4.486%2010.584%2C4.615%2010.597%2C4.713%20C10.581%2C4.741%2010.559%2C4.777%2010.547%2C4.801%20C10.321%2C5.243%2010.351%2C5.761%2010.629%2C6.220%20C11.128%2C7.046%2012.504%2C7.710%2013.581%2C7.964%20L13.880%2C12.997%20ZM9.944%2C7.774%20C8.879%2C6.700%207.147%2C6.700%206.081%2C7.774%20C5.016%2C8.848%205.016%2C10.594%206.081%2C11.668%20C7.045%2C12.640%208.555%2C12.729%209.623%2C11.942%20L8.955%2C11.269%20C8.260%2C11.699%207.337%2C11.615%206.736%2C11.008%20C6.032%2C10.298%206.032%2C9.144%206.736%2C8.434%20C7.440%2C7.724%208.585%2C7.724%209.289%2C8.434%20C9.889%2C9.038%209.973%2C9.961%209.553%2C10.661%20L10.222%2C11.335%20C10.997%2C10.259%2010.906%2C8.743%209.944%2C7.774%20Z%22/%3E%0D%0A%3C/svg%3E') right 12px center no-repeat;
		}
	}
	&__button {
		display: block;
		width: 100%;
		border: none;
		overflow: hidden;
	    background: #ffca00;
		height: 48px;
		line-height: 48px;
		font-size: 16px;
		color: #333;
		font-family: 'Circe';
		letter-spacing: 1px;
		font-weight: bold;
		cursor: pointer;
		margin: 0 0 3px 0;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
		.transition(.1s);
		.radius(3px);
		&:hover {
			background: #e7b908;
		}
		&:active {
			line-height: 50px;
			.transition(0s);
		}
	}
	&__text {
		.clear();
		font-size: 11px;
		line-height: 11px;
		color: #9a9a9a;
		padding: 9px 0 0 35px;
		background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214px%22%20height%3D%2218px%22%3E%0D%0A%3Cpath%20fill%3D%22%239a9a9a%22%0D%0A%20d%3D%22M12.250%2C7.043%20L12.250%2C4.695%20C12.250%2C2.102%209.899%2C-0.001%207.000%2C-0.001%20C4.100%2C-0.001%201.750%2C2.102%201.750%2C4.695%20L1.750%2C7.043%20C0.783%2C7.043%20-0.000%2C7.744%20-0.000%2C8.608%20L-0.000%2C16.434%20C-0.000%2C17.299%200.783%2C17.999%201.750%2C17.999%20L12.250%2C17.999%20C13.216%2C17.999%2014.000%2C17.299%2014.000%2C16.434%20L14.000%2C8.608%20C14.000%2C7.744%2013.216%2C7.043%2012.250%2C7.043%20ZM3.500%2C4.695%20C3.500%2C2.966%205.067%2C1.565%207.000%2C1.565%20C8.933%2C1.565%2010.500%2C2.966%2010.500%2C4.695%20L10.500%2C7.043%20L3.500%2C7.043%20L3.500%2C4.695%20ZM12.250%2C16.434%20L1.750%2C16.434%20L1.750%2C8.608%20L12.250%2C8.608%20L12.250%2C16.434%20ZM6.125%2C13.087%20L6.125%2C14.087%20C6.125%2C14.518%206.517%2C14.869%207.000%2C14.869%20C7.483%2C14.869%207.875%2C14.518%207.875%2C14.087%20L7.875%2C13.087%20C8.395%2C12.815%208.750%2C12.317%208.750%2C11.739%20C8.750%2C10.874%207.966%2C10.173%207.000%2C10.173%20C6.034%2C10.173%205.250%2C10.874%205.250%2C11.739%20C5.250%2C12.317%205.604%2C12.815%206.125%2C13.087%20Z%22/%3E%0D%0A%3C/svg%3E') left 12px top 10px no-repeat;
	}
}




// buttons //

.button {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	background: #fff;
	color: #333;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 0 39px;
	.radius(3px);
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	.transition(.1s);
	&-callback {
		background: #ffca00;
		&:hover {
			background: #e7b908;
		}
		&:active {
			line-height: 50px;
			.transition(0s);
		}
	}
}
@import "_media.less";